body {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #333333;
    position: relative;
}

#map { 
    width: 100%; 
    height: 350px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p {
    font-size: 1.2em;
}

.sans {
    font-family: inherit;
}

.uppercase {
    text-transform: uppercase;
}

#search-address, #search-button {
    margin-bottom:15px;
}

.search-text {
    font-size: 0.8em;
}

#best-communities tbody td:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: #333;
    border-color: #333;
    text-transform: none;
    font-size: 15px;
    max-width: 100%;
}

.btn-primary:hover {
    background-color: #555;
    border-color: #555;
}

.btn-info {
    background-color: #1aace3;
    border-color: #1aace3;
    text-transform: none;
    font-size: 0.9em;
}

.btn-info:hover {
    background-color: #1f9bca;
    border-color: #1f9bca;
}

.modal-text p {
    margin-bottom:1.2em;
    line-height: 1.5em;
}

.footer-text {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #ededed;
}

/* leaflet legend styles */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.info p {
    margin-bottom: 2px;
}

.legend span {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 8px;
    opacity: 0.5;
}

.legend {
    width: 150px;
    padding: 6px 8px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* Responsive forms (adapted from Bootswitch Journal Theme) */

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.multiline-btn {
    white-space: normal;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

/* Fix table styles */

.table-bordered th, .table-bordered td {
    border: 1px solid #ddd!important;
}

.table tr {
    height: 60px !important;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

/* Additional text color styling */
.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: darkorange;
}

/* Remove carto watermark */
.cartodb-logo {
    display:none!important;
}

/* Profile carousel */

.carousel {
    margin-bottom: 40px;
    background: #eee;
    border-radius: 10px;
}

.carousel-cell {
    width: 300px;
    height: 200px;
    margin-right: 10px;
    background-color: #8bc4dc;
}

.carousel-cell:hover {    
    cursor: pointer;
    background-color: #acdbef;
    background-color: rgba(139, 196, 220, 0.5);
}

.carousel-title {
    top: 20px;
    position: relative;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.75);
}

.carousel a {
    color: inherit;
    text-decoration: none;
}

.carousel a:hover {
    text-decoration: none;
}

/* Priority grid */

.grid-item {
    width: 100%;
    height: 50px;
    border: 2px solid #8bc4dc;
    background: #cde5ef;
    border-radius: 10px;
    padding-top: 10px;
    z-index: 1;
}

.grid-item:hover {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.grid-item .badge {
    margin-left: 5px !important;
}

.grid-item.rank-1 {
    background: #cde5ef;
    background: hsla(214, 47%, 49%, 0.2);
    border: 2px solid #8bc4dc;
    border: 2px solid hsla(214, 47%, 49%, 0.4);
}

.grid-item.rank-1 .badge {
    background-color: #348daf !important;
    background-color: hsla(214, 47%, 49%, 1) !important;
}

.grid-item.rank-2 {
    background: #cde5ef;
    background: hsla(203, 53%, 71%, 0.2);
    border: 2px solid #8bc4dc;
    border: 2px solid hsla(203, 53%, 71%, 0.5);
}

.grid-item.rank-2 .badge {
    background-color: #348daf !important;
    background-color: hsla(208, 38%, 57%, 1) !important;
}

.grid-item.rank-3 {
    background: #cde5ef;
    background: hsla(45, 100%, 77%, 0.2);
    border: 2px solid #8bc4dc;
    border: 2px solid hsla(45, 100%, 77%, 0.7);
}

.grid-item.rank-3 .badge {
    background-color: #348daf !important;
    background-color: hsla(45, 59%, 45%, 1) !important;
}

.grid-item.rank-4 {
    background: #cde5ef;
    background: hsla(21, 99%, 66%, 0.2);
    border: 2px solid #8bc4dc;
    border: 2px solid hsla(21, 99%, 66%, 0.5);
}

.grid-item.rank-4 .badge {
    background-color: #348daf !important;
    background-color: hsla(21, 99%, 66%, 1) !important;
}

.grid-item.rank-5 {
    background: #cde5ef;
    background: hsla(5, 77%, 48%, 0.2);
    border: 2px solid #8bc4dc;
    border: 2px solid hsla(5, 77%, 48%, 0.4);
}

.grid-item.rank-5 .badge {
    background-color: #348daf !important;
    background-color: hsla(5, 77%, 48%, 1) !important;
}

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
    border: 2px solid #8bc4dc;
    background: #8cc6de;
    z-index: 2; 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.packery-drop-placeholder {
  background: #d0d6d8;
  border-radius: 10px;
  z-index: 0;
  /* transition position changing */
  /*-webkit-transition: -webkit-transform 0.2s;*/
          /*transition: transform 0.2s;*/
}

